[alias]
    s     = status
    a     = add
    aa    = add --all
    c     = commit -m
    ca    = commit -am
    ps    = push
    pl    = pull
    l     = log --oneline --graph --decorate
    d     = diff
    co    = checkout
    cob   = checkout -b
    b     = branch
    st    = stash
    stp   = stash pop
    wtl   = worktree list
    wta   = worktree add
    wtr   = worktree remove
    wtp   = worktree prune
    c-noci = "!f() { git commit -m \"$* [skip ci]\"; }; f"

[user]
    name = Tony Dang
    email = tonydang.main@gmail.com
